$icomoon-font-family: "gicons" !default;
$icomoon-font-path: "fonts" !default;

$icon-university: "\e91d";
$icon-book: "\e915";
$icon-quote: "\e916";
$icon-browser: "\e917";
$icon-power: "\e918";
$icon-article: "\e919";
$icon-calendar: "\e91a";
$icon-dashboard: "\e91b";
$icon-post: "\e91c";
$icon-grafana-swirl: "\e914";
$icon-external: "\e913";
$icon-webinars-videos: "\e912";
$icon-add-item: "\e900";
$icon-bar-chart: "\e901";
$icon-paragraph: "\e902";
$icon-books: "\e903";
$icon-code-brackets: "\e904";
$icon-community: "\e905";
$icon-cortex-lite: "\e906";
$icon-git-branch: "\e907";
$icon-grafana-lite: "\e908";
$icon-graphite-lite: "\e909";
$icon-list: "\e90a";
$icon-loki: "\e90b";
$icon-metrictank: "\e90c";
$icon-presentation: "\e90d";
$icon-prometheus-lite: "\e90e";
$icon-speakerbox-check: "\e90f";
$icon-tanka-lite: "\e910";
$icon-arrow: "\e911";

